.cookie {
  display: none;
}

@media screen and (min-width: $tablet-width) {
  .cookie {
    position: fixed;
    bottom: 0;
    padding: 16px;
    background: #fff;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: $box-shadow;
    border-radius: $border-radius;
    width: 100%;
    display: none;
    z-index: 100;
  }
  .cookie--active {
    z-index: 100;
    display: block;
  }

  .cookie__text {
    font-size: 14px;
    margin-bottom: 8px;
    text-align: center;
  }
}