@media (max-width: $mobile-width-only) {
  .crumbs {
    margin: -16px;
    @include horizontal-scroll;
    padding: 0;
    display: none;
  }

  .crumbs__item {
    &:first-child {
      display: none;
    }
  }
}

.crumbs {
  width: 100%;
  margin-bottom: 16px;
}

.crumbs__list {
  display: flex;
  gap: 16px;
  list-style: none;
  margin: 16px 0 0;
}

.crumbs__item {
  font-size: 12px;
  cursor: pointer;

  position: relative;

  &:not(:last-child)::after {
    display: block;
    width: 8px;
    height: 1px;
    position: absolute;
    right: -12px;
    content: "";
    top: 50%;
  }
}

.crumbs__link {

  text-decoration: none;
  padding-bottom: 4px;
}

.crumbs__span {

  text-decoration: none;
  padding-bottom: 4px;
}
