.filter__list {
  @include filter;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
  border-radius: 16px;
  background: $color-grey;
}

.filter__list-group-buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
}

.filter__list-group-buttons .button {
  &:first-child {
    width: calc(100% - 88px);
  }
  &:last-child {
    width: 80px;
    font-size: 10px;
    background: none;
    color: $color-white;
    font-weight: 400;
  }
}

.filter__list-group {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.filter__list .button {
  width: 100%;
}

@media screen and (min-width: $desktop-width) {
  .filter__list {
    flex-direction: row;
    column-gap: 40px;
    row-gap: 24px;
    height: 160px;
    padding: 16px 32px 16px 16px;
  }
  .filter__list-group {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 32px;

    &:first-child {
      width: 100%;
    }

    &:last-child {
      width: 300px;
      min-width: 300px;
      flex-direction: column;
      justify-content: space-between;
    }
  }
  .filter__list-item {
    width: calc(33% - 20px);
  }
}
