.input {
  background: none;
  padding: 0 0 8px;
  font-size: 16px;
  border-bottom: 1px solid $color-white;
  color: $color-white;
  width: 100%;
  transition: border .16s;
  border-radius: 0;

  &::placeholder {
    color: $color-white;
    font-size: 16px;
  }
}