select {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  background: transparent;
  border-radius: 0;
  padding: 0;
  font-size: 16px;
  color: $color-white;
  padding-right: 48px
}


.select {
  font-size: 16px;
  background: none;
  width: 100%;
  height: 39px;
  border-bottom: 1px solid $color-white;
  position: relative;
  color: $color-white;
  transition: border .16s;

  &:after {
    @include filter;
    content: '';
    position: absolute;
    top: calc(50% - 12px);
    right: 4px;
    width: 24px;
    height: 24px;
    background: $color-grey-light;
    pointer-events: none;
    border-radius: 16px;
    z-index: 1;
  }

  &:before {
    content: '';
    position: absolute;
    top: 13px;
    right: 12px;
    width: 7px;
    height: 7px;
    border-bottom: 1px solid $color-white;
    border-right: 1px solid $color-white;
    z-index: 2;
    transform: rotate(45deg);
    pointer-events: none;
  }
}

//.select--opacity {
//  background: none;
//  border: 1px solid $color-white;
//
//  &:after {
//    border-bottom: 1px solid $color-white;
//    border-right: 1px solid $color-white;
//  }
//}

.select--error {
  border: 1px solid $color-red;
}

.select--opacity select {
  color: $color-white;
}

.select__desktop {
  display: none;
}

@media screen and (min-width: $tablet-width) {
  .select, select {
    cursor: pointer;
  }
  .select__mobile {
    display: none;
  }
  .select__desktop {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
  }
  .select__desktop--active {
    z-index: 4;
  }
  .select__data {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    color: $color-white;
  }
  .select--opacity .select__data {
    color: $color-white;
  }
  .select__options {
    @include vertical-scrollbar;
    position: absolute;
    max-height: 160px;
    overflow-y: scroll;
    width: calc(100% + 2px);
    left: -1px;
    top: 40px;
    background: $color-black;
    border: 1px solid $color-black;
    z-index: 5;
    display: none;
  }
  .select__options--open {
    display: block;
  }
  .select__option {
    background: $color-grey;
    padding: 8px 16px;
    transition: .16s;

    &:hover {
      background: $color-grey-light;
    }
  }
}